In [47]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [ ]:
!unzip chinook.zip

Archive:  chinook.zip
replace chinook.db? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
db = sql.connect("chinook.db")
db

In [ ]:
cursor = db.cursor()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("SELECT COUNT (*) FROM employees ")
cursor.fetchone()

In [ ]:
cursor.execute("PRAGMA table_info(customers);")
cursor.fetchall()

In [ ]:
cursor.execute("SELECT * FROM customers")
df_data = cursor.fetchall()

In [ ]:
df = pd.read_sql("SELECT * FROM customers LIMIT 20", db, index_col='CustomerId') # name of column only
df

In [ ]:
df = pd.read_sql("SELECT FirstName, CustomerId FROM customers LIMIT 20", db, index_col='CustomerId') # name of column only
df

In [ ]:
query = "SELECT CustomerId, FirstName, LastName, Phone FROM customers"
df = pd.read_sql(query, db, index_col="CustomerId")
df.head()

In [ ]:
query = "SELECT CustomerId, FirstName, LastName, Phone FROM customers ORDER BY LastName"
df = pd.read_sql(query, db, index_col="CustomerId")
df

In [ ]:
query = "SELECT DISTINCT CustomerId, FirstName, LastName, Phone, Country FROM customers ORDER "
df = pd.read_sql(query, db, index_col="CustomerId")
df

In [ ]:
query = 'SELECT * FROM Customers WHERE country="Italy"'
pd.read_sql(query, db)

In [ ]:
query = 'SELECT * FROM Customers WHERE country="Brazil" OR country="Argentina" ORDER BY Country'
pd.read_sql(query, db)

In [ ]:
query = 'SELECT * FROM Customers WHERE country="USA" OR State="California" ORDER BY FirstName'
pd.read_sql(query, db)